<main class="conteneur">
  <div class="gap-y-6 flex flex-col bordure-t-l-r p-4 radius-t-l">
    <h1 class="text-center text-2xl font-bold text-gray-500">
      Salut ! Et Si on apprenait d'abord à se connaître ?
    </h1>
    <section class="flex flex-col gap-y-6">
      <p class="font-semibold text-blue-500 text-center">
        Moi, c'est votre Application de gestion des taches ! et vous ?
      </p>
      <form class="p-4 flex flex-col gap-y-4" action="">
        <input
          class="bg-gray-50 rounded-2xl p-2 border-2"
          type="text"
          placeholder="Votre prénom ici !"
        />
        <button
          (click)="login($event)"
          class="text-white font-semibold shadow-conf rounded-2xl p-2 bg-blue-600"
        >
          Confirmer
        </button>
      </form>
    </section>
  </div>
</main>
