header {
  padding: 0.8rem 0.45rem 0.8rem 0;
}

.retourner svg {
  width: 2.1rem;
  height: 1.5rem;
}

@media (max-width: 230px) {
  .barre-recherche {
    flex-direction: column;
    row-gap: 1rem;
  }

  .retourner {
    display: flex;
    align-self: start;
    width: 50px;
    height: 30px;
  }
}
