@keyframes invalid-task {
  from {
    border-color: transparent;
  }

  to {
    border-color: #b66c6c;
  }
}

.emptyInput {
  border-width: 1px;
  border-style: solid;
  animation: invalid-task 0.2s ease-in-out 5 alternate forwards;
}

@media (prefers-reduced-motion: reduce) {
  .emptyInput {
    animation: none;
    border-color: #b66c6c;
  }
}
