<section class="z-[1100] w-full rounded-t-2xl bg-white p-4" id="form-container">
  <form class="w-full" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <input
      id="tache"
      class="w-full rounded-lg border-0 bg-gray-100 p-[0.8rem]"
      [class.emptyInput]="!taskForm.valid && taskForm.touched"
      placeholder="Ajouter un élément aux tâches"
      formControlName="taskName"
    />
    <div class="mt-4 flex justify-between max-[400px]:flex-col max-[400px]:gap-y-4">
      <button
        class="flex items-center gap-[0.4rem] rounded-lg border-0 bg-gray-100 px-[0.8rem] py-2"
        type="button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-alarm-clock"
        >
          <circle cx="12" cy="13" r="8" />
          <path d="M12 9v4l2 2" />
          <path d="M5 3 2 6" />
          <path d="m22 6-3-3" />
          <path d="M6.38 18.7 4 21" />
          <path d="M17.64 18.67 20 21" />
        </svg>
        <input
          class="p-[0.35rem]"
          type="datetime-local"
          name="notification"
          id="notification"
          formControlName="notification"
        >
      </button>
      <button
        class="rounded-lg border-0 bg-transparent px-[0.8rem] py-2 font-semibold text-blue-600 disabled:font-normal disabled:text-[rgb(136,138,141)]"
        type="submit"
        [disabled]="!taskForm.valid"
      >
        ENREGISTRER
      </button>
    </div>
  </form>
</section>
